* {
  margin: 0px;
  padding: 0px;
}

.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #F9F7F7;
  padding-top: 166px;
  padding-left: 0px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../Photos/Gallery/rent2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -150px;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

#resp {
  display: none;
}

#logotext {
  font-size: 30px;
  font-weight: bold;
  color: #FBCB0A;
}

.icon {
  margin-left: 150px;
}

@-webkit-keyframes in {
  0% {
    background-color: none;
    color: #FBCB0A;
  }
  100% {
    background-color: white;
    color: #112D4E;
  }
}

@keyframes in {
  0% {
    background-color: none;
    color: #FBCB0A;
  }
  100% {
    background-color: white;
    color: #112D4E;
  }
}

@-webkit-keyframes out {
  0% {
    background-color: white;
    color: #112D4E;
  }
  100% {
    background-color: none;
    color: #FBCB0A;
  }
}

@keyframes out {
  0% {
    background-color: white;
    color: #112D4E;
  }
  100% {
    background-color: none;
    color: #FBCB0A;
  }
}

.shtojca {
  width: 100%;
  height: 50px;
  background-color: white;
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  margin-bottom: 70px;
  -webkit-animation-name: out;
          animation-name: out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.bgColor {
  -webkit-box-shadow: 5px 1px 10px gray;
          box-shadow: 5px 1px 10px gray;
  -webkit-animation: in;
          animation: in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #112D4E;
}

.bgLink {
  color: #112D4E;
}

.navbar:hover .shtojca {
  float: inline-start;
}

.navbar:hover {
  -webkit-animation-name: in;
          animation-name: in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar:hover #a {
  color: #112D4E;
}

.navbar:hover #logotext {
  color: #112D4E;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 600px;
  text-decoration: none;
  margin-right: 150px;
}

#a {
  text-decoration: none;
  color: #FBCB0A;
  font-weight: bolder;
}

.tekst {
  position: relative;
  color: #F9F7F7;
  font-size: 20px;
  font-weight: 600;
  width: 60%;
}

.first {
  position: relative;
  top: -340px;
}

.companiesList {
  width: 100%;
  background-color: white;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.companiesList .company {
  padding: 10px;
  margin-bottom: 20px;
  width: 98%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company:hover {
  background-color: #efefef;
}

.banner2 {
  position: relative;
  top: -270px;
  width: 100%;
  height: 500px;
  padding-top: 200px;
  padding-left: 0px;
}

.banner2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("../Photos/parking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -220px;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.secondCon .info {
  width: 100%;
  background-color: white;
  padding: 20px;
  position: relative;
  top: 70px;
  margin-bottom: 20px;
}

.contact {
  background-color: #FFD24C;
  border-bottom: 2px #3F72AF solid;
  position: relative;
  top: 400px;
}

.footer {
  margin-top: 50px;
  width: 100%;
  height: 120px;
  background-color: #FFD24C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont {
  color: #112D4E;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  width: 30%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact2 {
  background-color: #ffdf81;
  padding-top: 50px;
  padding-bottom: 70px;
  -webkit-box-shadow: #112D4E 0px 10px 10px -12px inset, #3F72AF 0px 18px 10px -18px inset;
          box-shadow: #112D4E 0px 10px 10px -12px inset, #3F72AF 0px 18px 10px -18px inset;
}

.contactsinfo {
  width: 90%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont2 {
  font-size: 20px;
  color: #112D4E;
  list-style: none;
  font-weight: bold;
}

#cont2links {
  font-weight: normal;
  text-decoration: none;
  color: #3F72AF;
}

.contact3 {
  width: 100%;
  height: 70px;
  background-color: #3F72AF;
  padding-top: 10px;
  color: white;
}

@media only screen and (max-width: 700px) {
  #nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #logotext {
    padding: 0px;
    margin: 0px;
    color: #112D4E;
  }
  #resp {
    display: block;
    font-size: 25px;
    color: #112D4E;
  }
  .links {
    display: none;
  }
  .banner {
    min-height: 400px;
    background-size: 700px;
    padding-top: 80px;
    margin-bottom: -100px;
  }
  .banner2 {
    min-height: 400px;
    background-size: 700px;
    padding-top: 30px;
  }
  #park {
    width: 95%;
    -webkit-transform: none;
            transform: none;
    margin-left: 0px !important;
    margin-bottom: 100px !important;
  }
  .contact {
    position: relative;
    top: 550px;
  }
  .footer {
    width: 100%;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    margin: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont {
    width: 100%;
  }
  #res {
    display: none;
  }
  .contactsinfo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
  }
  .lang li {
    min-width: 220px;
  }
}
/*# sourceMappingURL=services.css.map */